

#headerVisiteurMobile, #headerVisteurBigScreen{
    width:100%;
   
    padding-top: 10px;
    height:100px;
    background-image: url('../../assets/images/header.jpg');
    background-size: 100% ;
    background-repeat: no-repeat;
    display:flex;
    justify-content: space-around;
    background-position-y: -350px;
    opacity: 60%;
}
#headerVisiteurMobile{
    padding-left:10%;
    padding-right: 10%;
}

#headerVisteurBigScreen{
    padding-left:5%;
    padding-right: 5%;
}
#menu{
    display:none;
}

#containerHeaderBigScreen, #containerHeaderMobile{
    position:absolute;
    top :0px;
    width:90%;
    display:flex;
    left: 5%;
    height:50px;

}